include header.jade
div.container.jumbotron.text-center
	h2.text-info Edit GuestBook Entry
div.container.well.text-center
	form(action="/edit/"+data.id, method="POST")
		div.form-group
			h3.text-danger 
				= data.title
			input.text-center(type="text", name='title', placeholder='update name')
		br
		div.form-group
			h3.text-danger 
				= data.description
			input.text-center(type="text", name="description", placeholder='update message')
		br
		div.form-group
			button.btn.btn-success(type="submit") Update Entry