h4 Edit Post

form(action="/edit/:id", method="POST")
	div(class="form-group")
		label title
		input(type="text", name='title')
	br
	div(class="form-group")
		label description
		input(type="text", name="description")
	br
	div(class="form-group")
		button(type="submit") submit