include header.jade
div.container.well.text-center
	h2 GuestBook

	ul.list-unstyled
		p All Posts
		each post in data

			li
				= post.title
			p 
				= post.description

			a(href="/edit/"+post.id) 
				button Edit Post 
			a(href="/delete/"+post.id) 
				button Delete Post

	a(href="/new")
		button New Post
