include header.jade
div.jumbotron.text-center 
	h1 GuestBook
	div
		p
			a(href="/new")
				button.btn.btn-success New Entry
div.container.text-center
	h1 All GuestBook Entries
	ul.list-unstyled
		each post in data

			li.well
				h4.text-success Name:
					p.text-info
						= post.title
				h4.text-success Message:
					p.text-info
						= post.description

				a(href="/edit/"+post.id) 
					button.btn.btn-primary Edit Entry 
				a(href="/delete/"+post.id) 
					button.btn.btn-danger Delete Entry

	
